@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/back.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;

}

nav {
    max-width: 75vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

.n-logo {
    color: red;
    position: relative;
    z-index: 1;
    width: 130px;
}

nav button {
    position: relative;
    z-index: 1;
}
.dn-arrow{
    height: 10px;
    width: 10px;
    margin: 0 0 -2px 0px;
}

.btn {
    padding: 5px 10px;
    margin: 0 2px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 0.5px solid gray;
    cursor: pointer;
}

.small-sn {
    background-color: red;

}

.face {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: calc(100% - 155px);
    padding: 25px 30px;
    font-family: 'Martel Sans', sans-serif;
}

.face> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 4.25rem;
    text-align: center;

}

.face> :nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    text-align: center;

}

.face> :nth-child(3) {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-align: center;

}

.face-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.big-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 31px;
    border-radius: 4px;
    font-weight: 400;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 25px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.break {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.first {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
}

.beside {
    position: relative;
}

.beside img {
    width: 360px;
    position: relative;
    z-index: 10;
}

.beside video {
    width: 360px;
    position: absolute;
    top: 51px;
    right: 0;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    background-color: #2d2d2d;
    cursor: pointer;
    max-width: 60vw;
    margin: 34px auto;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1100px) {
    nav {
        max-width: 90vw;
    }

    .face> :nth-child(1) {
        font-size: 32px;
    }

    .face> :nth-child(2) {
        font-size: 18px;
    }

    .face> :nth-child(3) {
        font-size: 18px;
    }

    .face-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 0 15px;
    }

    .main input {
        padding: 15px 101px 15px 14px;
        color: white;
        font-size: 13px;
        border-radius: 4px;
        background-color: rgba(23, 23, 23, 0.7);
        border: 1px solid rgba(246, 238, 238, 0.5);
    }

    .first {
        flex-wrap: wrap;
    }

    section span {
        text-align: center;
    }

    section.first>div :nth-child(1) {
        font-size: 32px;
        font-weight: bolder;
    }


    section.first>div :nth-child(2) {
        font-size: 16px;

    }

    .beside img {
        width: 305px;
    }

    .beside video {
        width: 305px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    .faqbox:hover {
        background-color: #414141;
        color: white;
    }

    .faqbox svg {
        filter: invert(1);
    }

    .faqbox {
        transition: all 1s ease-out;
        font-size: 16px;
        background-color: #2d2d2d;
        cursor: pointer;
        max-width: 70vw;
        margin: 34px auto;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 23px;
    }

    .questions {
        text-align: center;
    }
}